@import "tailwindcss";

:root {
  --color-primary: #37b679; /* Verde esperanza */
  --color-primary-light: #a7e5c3;
  --color-bg: #f8fff9; /* Blanco verdoso cálido */
  --color-text: #1a1f1c;
  --color-muted: #6b736f;
  --color-accent: #f2faf6; /* fondo de tarjetas */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  letter-spacing: -0.02em;
}

a {
  color: var(--color-primary);
  transition: color 0.2s ease, background 0.2s ease;
}

a:hover {
  color: #2c9e66;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
